<p-toast class="p-toast" position="bottom-right"></p-toast>
<div class="button-container" *ngIf="abilitaTasti">
    <button mat-raised-button color="primary" class="square-button" (click)="nuovoFornitore()">
      <div class="button-content">
        <mat-icon class="button-icon">playlist_add</mat-icon>
        <span class="button-text">Nuovo Categoria / Fornitore</span>
      </div>
    </button>

    <button mat-raised-button color="warn" class="square-button" (click)="nuovoprodotto()">
      <div class="button-content">
        <mat-icon class="button-icon">fiber_new</mat-icon>
        <span class="button-text">Nuovo Prodotto</span>
      </div>
    </button>

    <!-- <button mat-raised-button color="accent" class="square-button">
      <div class="button-content">
        <mat-icon class="button-icon">view_carousel</mat-icon>
        <span class="button-text">Lista Macro Prodotti</span>
      </div>
    </button> -->

  </div>

<div class="card mt-5" [@pageTransition]="state">

    <div class="card-header">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h3 class="card-title"> Selezionare il Prodotto </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">


        <!-- [hidden]="show_product" -->
        <div [hidden]="show_product" class="card" data-background-color="yellow">
            <h4 class="card-header">Prodotto selezionato</h4>
            <div class="card-body mb-2">
                <h3>{{descrizione_prodotto_sel}}</h3>
            </div>
        </div>

        <div class="mat-elevation-z8 demo-table">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- [dataSource]="dataSource"  -->

                <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
                <ng-container [matColumnDef]="displayedColumns[0]">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>


                <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
                <ng-container [matColumnDef]="displayedColumns[1]">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field>
                            <mat-label>DESCRIZIONE</mat-label>
                            <input matInput (keyup)="selectValue(displayedColumns[1],$event)"
                                placeholder="CERCA PER DESCRIZIONE" #input>
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.descrizione}} </td>
                </ng-container>

                <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
                <ng-container [matColumnDef]="displayedColumns[2]">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field>
                            <mat-label> MACRO PRO </mat-label>
                            <!--INIZIO SEZIONE FILTRO COLONNA -->
                            <mat-select [formControl]="mpdToppings" multiple>
                                <mat-select-trigger>
                                    {{mpdToppings.value?.[0] || ''}}
                                    @if ((mpdToppings.value?.length || 0) > 1) {
                                    <span class="span-additional-selection">
                                        (+{{(mpdToppings.value?.length || 0) - 1}} {{mpdToppings.value?.length === 2 ?
                                        'selezionato' :
                                        'selezionati'}})
                                    </span>
                                    }
                                </mat-select-trigger>
                                @for (topping of MacroDescrizione; track topping) {
                                <mat-option [value]="topping"
                                    (click)="selectOpt(displayedColumns[2],this.mpdToppings.value)">{{topping}}</mat-option>
                                }
                            </mat-select>
                            <!--FINE SEZIONE FILTRO COLONNA -->
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.macro_descrizione}} </td>
                </ng-container>

                <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
                <ng-container [matColumnDef]="displayedColumns[3]">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field>
                            <mat-label>CODICE MACRO PRO</mat-label>
                            <!--INIZIO SEZIONE FILTRO COLONNA -->
                            <mat-select [formControl]="mprToppings" multiple>
                                <mat-select-trigger>
                                    {{mprToppings.value?.[0] || ''}}
                                    @if ((mprToppings.value?.length || 0) > 1) {
                                    <span class="span-additional-selection">
                                        (+{{(mprToppings.value?.length || 0) - 1}} {{mprToppings.value?.length === 2 ?
                                        'selezionato' :
                                        'selezionati'}})
                                    </span>
                                    }
                                </mat-select-trigger>
                                @for (topping of MacroProList; track topping) {
                                <mat-option [value]="topping"
                                    (click)="selectOpt(displayedColumns[3],this.mprToppings.value)">{{topping}}</mat-option>
                                }
                            </mat-select>
                            <!--FINE SEZIONE FILTRO COLONNA -->
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.macro_product}} </td>
                </ng-container>

                <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
                <ng-container [matColumnDef]="displayedColumns[4]">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field>
                            <mat-label> FORNITORE</mat-label>
                            <!--INIZIO SEZIONE FILTRO COLONNA -->
                            <mat-select [formControl]="forToppings" multiple>
                                <mat-select-trigger>
                                    {{forToppings.value?.[0] || ''}}
                                    @if ((forToppings.value?.length || 0) > 1) {
                                    <span class="span-additional-selection">
                                        (+{{(forToppings.value?.length || 0) - 1}} {{forToppings.value?.length === 2 ?
                                        'selezionato' :
                                        'selezionati'}})
                                    </span>
                                    }
                                </mat-select-trigger>
                                @for (topping of fornitoriList; track topping) {
                                <mat-option [value]="topping"
                                    (click)="selectOpt(displayedColumns[4],this.forToppings.value)">{{topping}}</mat-option>
                                }
                            </mat-select>
                            <!--FINE SEZIONE FILTRO COLONNA -->
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome_fornitore}} </td>
                </ng-container>

                <ng-container [matColumnDef]="displayedColumns[5]">
                    <th mat-header-cell *matHeaderCellDef>AZIONI</th>
                    <td mat-cell *matCellDef="let row"> <button *ngIf="abilitaTasti" mat-mini-fab color="primary"
                            (click)="clickedRows(row)" class="m-1">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="abilitaTasti" mat-mini-fab color="warn"
                        (click)="deleteProduct(row,'prodotti')" class="m-1">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    </td>

                </ng-container>

                <!-- SEZIONE RIGHE VISUALIZZATE -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                <!-- MESSAGGIO RIGHE NON TROVATE -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Nessun dato corrispondente alla ricerca</td>
                </tr>

            </table>

            <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>
</div>




<div class="card contrattoselezionato" *ngIf="DettagliProduct" @pageTransition [hidden]="prodottoselezionato">
    <div class="card-header">
        <label class="card-title title"> DETTAGLI PRODOTTO SELEZIONATO</label>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Macro Prodotto</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text"
                                    class="form-control input macro_product" Name="macro_product" placeholder="Macro Prodotto"
                                    value="{{contratto.descrizioneMacroProd}}">
                                <input *ngFor="let contratto of DettagliProduct" type="hidden"
                                    class="form-control input id_macro_product" Name="id_macro_product"
                                    value="{{contratto.idMacroProd}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Prodotto</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text"
                                    class="form-control descrizione" Name="descrizione"
                                    placeholder="Descrizione" value="{{contratto.descrizioneProd}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Categoria</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text" class="form-control"
                                    Name="categoria" placeholder="Categoria" value="{{contratto.nome_categoria}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Codice Macro Prodotto</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text" class="form-control"
                                    Name="codice_macroprodotto" placeholder="Codice Macro Prodotto"
                                    value="{{contratto.codice_macro}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Prodotto</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text"
                                    class="form-control descrizione" Name="descrizione"
                                    placeholder="Descrizione" value="{{contratto.descrizioneProd}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Punti Valore</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text" class="form-control"
                                    Name="punti_valore" placeholder="Punti Valore"
                                    value="{{contratto.punti_valore}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 ps-5 align-content-center">
                                <label class="uppercase">Punti Carriera</label>
                            </div>
                            <div class="col-11">
                                <input *ngFor="let contratto of DettagliProduct" type="text" class="form-control"
                                    Name="punti_carriera" placeholder="Punti carriera"
                                    value="{{contratto.punti_carriera}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let contratto of DettagliProduct" class="col-12 d-flex justify-content-center"> <button mat-raised-button color="primary"
                    type="submit" (click)="SalvaModificheProdotto(contratto)">Salva Modifiche</button>
            </div>
        </div>
    </div>
</div>

<app-nuovoprodotto [hidden]="nuovoprodottoHidden"></app-nuovoprodotto>
<app-nuovofornitore [hidden]="nuovoFornitoreHidden"></app-nuovofornitore>
