@import "../../../assets/sass/general-dashboard/variabili";

.demo-table {
  width: 100%;
}

.mat-mdc-row {
  &:hover {
    .mat-mdc-cell {
      background-color: $opacity-gray-8;
      cursor: pointer;
      border-bottom-color: $opacity-gray-8;
    }
  }
}

.demo-row-is-clicked {
  font-weight: bold;
}

:host * {
  // position: relative; /* Seleziona tutti gli elementi discendenti del componente */
  z-index: 10 !important;
}

.inpselmat {
  // background-color: red;
  position: absolute;
  width: 80%;
  height: 21px;
  top: -23px;
  left: 15px;
  font-size: 16px !important;
}

::ng-deep .custom-background {
  background-color: #d7d7d7 !important;
}

::ng-deep .mat-mdc-form-field-bottom-align::before {
  /*display: contents!important;*/
  display: block !important;
  height: 3px !important;
}

::ng-deep .mat-mdc-form-field {
  display: contents !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 45px !important;
}

::ng-deep .mat-mdc-select-value-text {
  top: -4px;
  position: relative;
}

::ng-deep .mat-mdc-form-field-input-control {
  top: -4px;
  position: relative;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  display: none !important;
}

::ng-deep .mat-mdc-paginator-page-size-select {
  .mat-mdc-text-field-wrapper {
    width: 70px !important;
    height: 35px !important;
  }
}

::ng-deep .overlay {
  position: absolute !important;
  /* Posizione fissa sullo schermo */
  top: 0% !important;
  left: 0% !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  /* Colore nero semi-trasparente */
  backdrop-filter: blur(10px) !important;
  /* Effetto sfocato */
  z-index: 10 !important;
  /* Posiziona l'overlay sopra gli altri elementi */
}

::ng-deep .rounded {
  border-radius: 5% !important;
}

::ng-deep .centraspinner {
  position: absolute!important;  
  top: calc(30% - 300px) !important;
}

::ng-deep .sezione_domande_non_compilate {
  border: 1px solid #e1dcdc;
  width: 101%;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 10px;
  margin-top: 10px;
}

::ng-deep .allegato {
  font-size: 49px;
  width: 50px !important;
  height: 51px !important;
  padding-top: 6px;
}


::ng-deep .allegatofluid {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1px 7px 10px 7px;
}


.large-spinner {
  width: 170px !important;
  height: 170px !important;
}

/* Elemento centrato */
.centered-element {
  position: relative;
  left: calc(50% - 85px) !important;
  width: 100px;
  z-index: 10;
}

::ng-deep .form-control {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-bottom: 1px solid #6d9ebc;
}

::ng-deep .thumbnail {
  max-width: 80px;
  /* Imposta la larghezza massima della thumbnail */
  max-height: 80px;
  /* Imposta l'altezza massima della thumbnail */
  object-fit: cover;
  /* Mantieni le proporzioni dell'immagine e ritagliala se necessario */
}

::ng-deep .contrattoselezionato {
  background-color: #f9f4e9 !important;
}
::ng-deep .uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

::ng-deep .title {
  text-transform: uppercase;
  font-weight: 900;
}

::ng-deep .p-button {
  height: 38px;  
}

::ng-deep .classebottoneexport{
  position: relative;  
  top: 8px;
}



/* ::ng-deep span{
  color: black!important;
  font-weight: 900!important;
}

::ng-deep span{
  color: red!important;
  font-weight: 900!important;
} */

/* Nel tuo foglio di stile globale o del componente */
.mat-date-range-input-disabled {
  pointer-events: none !important;
  opacity: 50% !important;
  cursor: default !important;
}

.mat-date-range-input-disabled:hover {
  /* Rimuovi gli stili hover predefiniti */
  pointer-events: none !important;
}

.button-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.square-button {
  width: 110px; /* Larghezza desiderata */
  height: 110px; /* Altezza uguale alla larghezza per renderlo quadrato */
  display: flex;
  flex-direction: column; /* Icona in alto, testo in basso */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  margin: 2rem;
  border-radius: 10%;
  transition: all 0.8s;
  z-index: 1 !important;
}
.square-button:hover {
  animation: pulse 2s infinite;
  border-radius: 20%;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-icon {
  font-size: 45px;
  margin-bottom: 0.5rem;
  padding: 3rem;
  justify-content: center;
  display: flex;
  margin-top: -3rem;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(3, 168, 124, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
  }
}

.square-button-small {
  width: 35px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  border-radius: 10%;
  transition: all 0.8s;
  z-index: 1 !important;
}

.button-content-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-icon-small {
  font-size: 28px;
  //margin-bottom: -0.5rem;
  justify-content: center;
  display: flex;
}

.button-text-small {
  font-size: 0.7rem;
}
textarea {
  resize: vertical!important; /* Permette all'utente di ridimensionare verticalmente */
  overflow: auto!important; /* Aggiunge una scrollbar quando il contenuto eccede l'area visibile */
  min-height: 100px!important; /* Altezza minima */
}
