<div class="button-container">
  <button mat-raised-button color="warn" class="square-button" (click)="vaiAClienti()">
    <div class="button-content">
      <mat-icon class="button-icon">fiber_new</mat-icon>
      <span class="button-text">Crea Nuovo Contratto</span>
    </div>
  </button>
</div>
<div class="card" [@pageTransition]="state">
  <div class="card-header">
    <h4 class="card-title"> CONTRATTI - SEZIONE FILTRI </h4>
  </div>


  <div *ngIf="LISTACONTRATTI" class="card-body">

    <!-- <div class="row">
      <div class="col-6 p-4">
        <button type="submit" class="btn bottoniFormConferma" (click)="vaiAClienti()">CREA NUOVO CONTRATTO</button>
      </div>

    </div> -->

    <!--
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="filtro" #input>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Filter2</mat-label>
      <input matInput (keyup)="applyEmpFilter($event, 'anto')" placeholder="" #input>
    </mat-form-field>
    -->

    <!-- <div class="card-header">
      <h3 class="card-title">CONTRATTI - SEZIONE FILTRI</h3>
    </div> -->


    <!-- SEZIONE FILTRI RIGA 1° -->
    <div class="row">

      <div class="col-xxl-3 col-xl-3">

        <mat-form-field style="width:270px; height: 100%;">
          <mat-label>ID</mat-label>
          <textarea [formControl]="formID" matInput placeholder="Inserisci ID" (keyup)="applyFilterId($event)" [rows]="5" style="resize: vertical; min-height: 100px; overflow: auto;">
          </textarea>
        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-3">

        <mat-form-field class="select_prodotti" style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Prodotto</mat-label>
          <mat-select class="matff" [formControl]="formProdotti" multiple>

            <mat-select-trigger>
              {{formProdotti.value?.[0] || ''}}
              @if ((formProdotti.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formProdotti.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            <input class="inpselmat" [ngStyle]="{ 'display' : (formProdotti.value?.length == 0) ? 'block' : 'none' }" matInput placeholder="" (focus)="onInputFocus('.select_prodotti')" (blur)="onInputBlur('.select_prodotti')"
              (keyup)="filterSelectProdotti($event)">

            @for (Prodotto of listaProdotti; track Prodotto) {
            <mat-option [value]="Prodotto" (click)="selectOpt('prodotto',this.formProdotti.value)">{{Prodotto}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-3">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Nome Cognome Cliente</mat-label>
          <input [formControl]="formCliente" matInput placeholder="Ricerca Cognome Nome" (keyup)="applyFilterName($event)">

        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-3">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>SEU</mat-label>
          <mat-select class="matff" [formControl]="formSEU" multiple>

            <mat-select-trigger>
              {{formSEU.value?.[0] || ''}}
              @if ((formSEU.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formSEU.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            @for (seu of listaSEU; track seu) {
            <mat-option [value]="seu" (click)="selectOpt('seu',this.formSEU.value)">{{seu}}</mat-option>
            }
          </mat-select>
        </mat-form-field>


      </div>

    </div>

    <!-- SEZIONE FILTRI RIGA 2° -->
    <div class="row">

      <div class="col-xxl-3 col-xl-4" [ngClass]="{'mat-date-range-input-disabled': isPickerformDataInsDisabled}">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">

          <mat-label>Data Inserimento</mat-label>
          <mat-date-range-input [rangePicker]="pickerDataIns">
            <input matStartDate placeholder="Start date" #startDateInputDI [disabled]="isPickerformDataInsDisabled">
            <input matEndDate placeholder="End date" #endDateInputDI (dateChange)="dateRangeChange(startDateInputDI, endDateInputDI, 'datains')">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="pickerDataIns" [ngClass]="{'mat-date-range-input-disabled': isPickerformDataInsDisabled}"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerDataIns></mat-date-range-picker>

        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-4">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Macro Prod.</mat-label>
          <mat-select [formControl]="formMacroPro" multiple>

            <mat-select-trigger>
              {{formMacroPro.value?.[0] || ''}}
              @if ((formMacroPro.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formMacroPro.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            @for (macroProdotto of listaMacroPro; track macroProdotto) {
            <mat-option [value]="macroProdotto" (click)="selectOpt('macroprodotto',this.formMacroPro.value)">{{macroProdotto}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-4">

        <mat-form-field class="select_cod_fis" style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Cod.Fisc. / P.Iva</mat-label>

          <mat-select [formControl]="formCFPI" multiple>

            <mat-select-trigger>
              {{formCFPI.value?.[0] || ''}}
              @if ((formCFPI.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formCFPI.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>


            <input class="inpselmat" [ngStyle]="{ 'display' : (formCFPI.value?.length == 0) ? 'block' : 'none' }" matInput placeholder="" (focus)="onInputFocus('.select_cod_fis')" (blur)="onInputBlur('.select_cod_fis')"
              (keyup)="filterSelectCFPI($event)">


            @for (cfpi of listacfpi; track cfpi) {
            <mat-option [value]="cfpi" (click)="selectOpt('pivacf',this.formCFPI.value)">{{cfpi}}</mat-option>
            }

          </mat-select>



        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-4 align-content-end align-bottom align-items-end align-self-end text-end">

        <mat-form-field class="select_supplier" style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Fornitore</mat-label>
          <mat-select class="matff" [formControl]="formSupplier" multiple>

            <mat-select-trigger>
              {{formSupplier.value?.[0] || ''}}
              @if ((formSupplier.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formSupplier.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            <input class="inpselmat" [ngStyle]="{ 'display' : (formSupplier.value?.length == 0) ? 'block' : 'none' }" matInput placeholder="" (focus)="onInputFocus('.select_supplier')" (blur)="onInputBlur('.select_supplier')"
              (keyup)="filterSelectSupplier($event)">

            @for (supplier of listaSupplier; track supplier) {
            <mat-option [value]="supplier" (click)="selectOpt('supplier',this.formSupplier.value)">{{supplier}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>



    </div>

    <!-- SEZIONE FILTRI RIGA 3° -->
    <div class="row">

      <div class="col-xxl-3 col-xl-4" [ngClass]="{'mat-date-range-input-disabled': isPickerformDataStipulaDisabled}">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">

          <mat-label>Data Stipula</mat-label>
          <mat-date-range-input [rangePicker]="pickerDataStipula">
            <input matStartDate placeholder="Start date" #startDateInputDS [disabled]="isPickerformDataStipulaDisabled">
            <input matEndDate placeholder="End date" #endDateInputDS (dateChange)="dateRangeChange(startDateInputDS, endDateInputDS, 'datastipula')">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="pickerDataStipula" [ngClass]="{'mat-date-range-input-disabled': isPickerformDataStipulaDisabled}"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerDataStipula></mat-date-range-picker>

        </mat-form-field>

      </div>

      <div class="col-xxl-3 col-xl-4">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Macro Stato</mat-label>
          <mat-select class="matff" [formControl]="formMacroStato" multiple>

            <mat-select-trigger>
              {{formMacroStato.value?.[0] || ''}}
              @if ((formMacroStato.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formMacroStato.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            @for (macrostato of listaMacroStato; track macrostato) {
            <mat-option [value]="macrostato" (click)="selectOpt('macrostato',this.formMacroStato.value)">{{macrostato}}</mat-option>
            }
          </mat-select>
        </mat-form-field>


      </div>

      <div class="col-xxl-3 col-xl-4">

        <mat-form-field style="width:270px" (click)="onFormfieldClick($event)">
          <mat-label>Stato</mat-label>
          <mat-select class="matff" [formControl]="formStato" multiple>

            <mat-select-trigger>
              {{formStato.value?.[0] || ''}}
              @if ((formStato.value?.length || 0) > 1) {
              <span class="span-additional-selection">
                (+{{(formStato.value?.length || 0) - 1}})
              </span>
              }
            </mat-select-trigger>

            @for (stato of listaStato; track stato) {
            <mat-option [value]="stato" (click)="selectOpt('stato',this.formStato.value)">{{stato}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>

    </div>
    <div class="row justify-content-start">

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 col-sm-12 col-md-12 align-content-start align-bottom align-items-start align-self-stard text-start">
        <!-- <button type="submit" class="btn bottoniFormConferma" (click)="prova()">prova</button> -->
        <button type="submit" class="btn bottoniFormConferma me-2 mt-2" (click)="resetFiltri()">RESET FILTRI</button>
        <button type="submit" class="btn bottoniFormConferma me-2 mt-2" (click)="SelectMulti()">SELEZIONE MULTIPLA</button>
        <p-button *ngIf="abilitaDownload" severity="help" label="Export in CSV" icon="pi pi-external-link" class="classebottoneexport" (click)="esportaCSV()" />
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 col-sm-12 col-md-12 w-25 align-content-start align-bottom align-items-start align-self-stard text-start">
        <!-- <button type="submit" class="btn bottoniFormConferma" (click)="prova()">prova</button> -->
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-12 col-sm-12 col-md-12 w-25 align-content-start align-bottom align-items-start align-self-stard text-start">
        <!-- <button type="submit" class="btn bottoniFormConferma" (click)="prova()">prova</button> -->
      </div>
    </div>
    <!-- RIGA SPAZIO -->
    <div class="row p-3">
      <div class="col-12"></div>
    </div>

    <!-- CLASSE matContratti DEFINITA IN _tables.scss -->

    <div class="mat-elevation-z8 demo-table table-responsive">

      <table mat-table [dataSource]="dataSourceFilters!" matSort class="matContratti">
        <ng-container matColumnDef="selectMulti" *ngIf="selectMulti">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10px;">SELEZIONA
            <mat-checkbox (change)="toggleSelectAll($event)"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row"> <input type="checkbox" [id]="'check-'+row.id" #checkbox value="{{row.id}}" (click)="isSelectMultiColumn(row,enableMultiSelect,checkbox); $event.stopPropagation()"> </td>
        </ng-container>


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">ID
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px;">
            Nome Cognome
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
        </ng-container>



        <ng-container matColumnDef="pivacf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px;">
            P. Iva / Cod. Fis.
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.pivacf}} </td>
        </ng-container>


        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="datains">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">
            Data Ins.
          </th>
          <td mat-cell *matCellDef="let row"> {{row.datains}} </td>
        </ng-container>


        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="datastipula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">
            Stipula
          </th>
          <td mat-cell *matCellDef="let row"> {{row.datastipula}} </td>
        </ng-container>


        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="prodotto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
            Prodotto
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.prodotto}} </td>
        </ng-container>

        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="seu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
            Nome SEU
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.seu}} </td>
        </ng-container>
        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="stato">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 145px;">
            Stato
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> {{row.stato}} </td>
        </ng-container>


        <!-- COLONNA style width SU th mat-header-cell +25px rispetto al mat-form-field -->
        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:125px">
            Documenti
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.file && row.file.length > 0">
              <div> File Presenti </div>
            </div>
            <div *ngIf="!row.file || row.file.length === 0"> Nessun file </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="azioni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 145px;">
            Azioni
            <!-- <div class="thtable"></div> -->
          </th>
          <td mat-cell *matCellDef="let row"> <button mat-raised-button color="warn" class="square-button-small" (click)="vaiAClientiCodFPiva(row.pivacf)">
              <div class="button-content-small">
                <mat-icon class="button-icon-small">search</mat-icon>
                <mat-icon class="button-icon-small">person</mat-icon>
              </div>
            </button> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRows(row)"></tr>


        <!-- Row shown when there is no matching data. -->
        <tr *ngIf="!LISTACONTRATTI" class="mat-row">
        </tr>

      </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
</div>

<div class="card contrattoselezionato" *ngIf="DettagliContratto" @pageTransition [hidden]="contrattoselezionato">
  <div class="card-header">
    <label class="card-title title"> DETTAGLI CONTRATTO SELEZIONATO </label>    
  </div>
  <div class="card-body">
    <div class="row">      
      <div class="row">

        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">ID</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <input readonly *ngFor="let contratto of DettagliContratto" type="text" class="form-control input id_contratto" Name="idcontratto" value="{{contratto.id}}">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">Cliente/Rag. Sociale</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <input *ngFor="let contratto of DettagliContratto" type="text" class="form-control input nome_contraente" Name="nome" placeholder="Nome Cliente" value="{{contratto.cliente}}">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">P.Iva/CF</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <input *ngFor="let contratto of DettagliContratto" type="text" class="form-control pivacodfisc_contraente" Name="partitaIva" placeholder="Partita Iva" value="{{contratto.partitaiva}}">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">Data Inserimento Contratto</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <input *ngFor="let contratto of DettagliContratto" type="text" class="form-control" Name="dataIns" placeholder="Data Inserimento" value="{{contratto.datains}}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">macroprodotto</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9" *ngFor="let contratto of DettagliContratto">
                <!-- <input *ngFor="let contratto of DettagliContratto" type="text" class="form-control" Name="macroprodotto"
                  placeholder="macroprodotto Cliente" value="{{contratto.microprodotto}}"> -->
                <select class="form-control macroprodotto" Name="macroprodotto" (change)="cambioMacroProdotto($event)">
                  <option value="{{contratto.macroprodotto}}" disabled selected>{{contratto.macroprodotto}}</option>
                  <option disabled>---</option>
                  <option *ngFor="let macroProdotti of MACROPRODOTTI" [value]="macroProdotti.id">
                    {{ macroProdotti.descrizione }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">microprodotto</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9" *ngFor="let contratto of DettagliContratto">
                <!-- <input *ngFor="let contratto of DettagliContratto" type="text" class="form-control" Name="macroprodotto"
                  placeholder="macroprodotto Cliente" value="{{contratto.microprodotto}}"> -->
                <select class="form-control microprodotto" Name="microprodotto">
                  <option value="{{contratto.microprodotto_id}}" disabled [selected]="selected">{{contratto.microprodotto}} {{opzioneTEXT}}</option>
                  <option disabled>---</option>
                  <option *ngFor="let alterProduct of ALTRIPRODOTTI" [value]="alterProduct.id">
                    {{ alterProduct.descrizione }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">Stato contratto</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <select class="form-control w-100 stato_avanzamento" Name="stato_avanzamento" placeholder="stato avanzamento">
                  <!-- Stato selezionato -->
                  <option *ngFor="let contratto of DettagliContratto" selected disabled [value]="contratto.id_stato">{{contratto.stato}}</option>

                  <!-- Iterazione per i macroStati -->
                  <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
                    <!-- Gestione del primo gruppo (numero 1) -->
                    <ng-template [ngIf]="i === 0">
                      <optgroup [label]="'1. ' + macroStato.key" style="font-weight: bold; color: black;">
                        <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                          {{opt.micro_stato}}
                        </option>
                      </optgroup>
                    </ng-template>
                  </ng-container>

                  <!-- Gestione del terzo gruppo (che deve diventare il secondo con numero 2) -->
                  <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
                    <ng-template [ngIf]="i === 2">
                      <optgroup [label]="'2. ' + macroStato.key" style="font-weight: bold; color: black;">
                        <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                          {{opt.micro_stato}}
                        </option>
                      </optgroup>
                    </ng-template>
                  </ng-container>

                  <!-- Gestione del secondo gruppo (che deve diventare il terzo con numero 3) -->
                  <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
                    <ng-template [ngIf]="i === 1">
                      <optgroup [label]="'3. ' + macroStato.key" style="font-weight: bold; color: black;">
                        <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                          {{opt.micro_stato}}
                        </option>
                      </optgroup>
                    </ng-template>
                  </ng-container>

                  <!-- Gestione del resto dei gruppi (numero 4 in poi) -->
                  <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
                    <ng-template [ngIf]="i > 2">
                      <optgroup [label]="(i + 1) + '. ' + macroStato.key" style="font-weight: bold; color: black;">
                        <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                          {{opt.micro_stato}}
                        </option>
                      </optgroup>
                    </ng-template>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
          <div class="form-group">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                <label class="uppercase">Note Backoffice</label>
              </div>
              <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                <textarea *ngFor="let contratto of DettagliContratto" type="text" class="form-control note_backoffice" Name="note_backoffice" placeholder="Note BackOffice" value="{{contratto.note}}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="container-fluid contrattoselezionato">
          <div class="form-group">
            <div class="card-header ps-0">
              <label class="title card-title">Dettagli Contraente</label>
            </div>
            <div class="row justify-content-center mt-2" *ngFor="let contratto of DettagliContratto">
              <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12" *ngFor="let dettaglio of contratto.dettagli_contraente | keyvalue">
                <div class="form-group">
                  <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                      <label class="uppercase">{{ dettaglio.key }}</label>
                    </div>
                    <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                      <input type="text" class="form-control input {{dettaglio.key}}" name="{{dettaglio.key}}" placeholder="{{dettaglio.key}}" value="{{ dettaglio.value }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="container-fluid contrattoselezionato">
          <div class="form-group">
            <div class="card-header ps-0">
              <label class="title card-title">Dettagli Contratto</label>
            </div>
            <div class="row justify-content-center mt-2" *ngFor="let contratto of DettagliContratto">
              <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
                <div class="row mt-2">
                  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">
                    <label class="uppercase">Riferimento SEU</label>
                  </div>
                  <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">
                    <p-dropdown [options]="seu" class="seu" Name="seu" [(ngModel)]="seuSelected" [showClear]="true" optionLabel="nominativo" appendTo="body" placeholder="Cambia SEU" />
                  </div>
                </div>
              </div>

              <form id="domande_specific_data" name="domande_specific_data">

                  <!-- *ngIf="risposta.risposta !== null" -->

                  <!-- SEZIONE DOMANDE CON RISPOSTA -->
                  <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 domanda_sp_dt" *ngFor="let risposta of contratto.specific_data" [attr.tag]="risposta.domanda">                                        
                    <div class="row mt-2" >
                      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">                    
                        <label  class="uppercase">{{ risposta.domanda }}</label>
                      </div>
                      <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">                    
                        <input class="form-control" [disabled]="non_modificare_risposta" *ngIf="risposta.tipo === 'number'" type="number" [value]="risposta.risposta" [name]="risposta.domanda">                    
                        <input class="form-check-input form-check form-switch " [disabled]="non_modificare_risposta" *ngIf="risposta.tipo === 'boolean'" type="checkbox" [checked]="risposta.risposta" [name]="risposta.domanda">                    
                        <input class="form-control" [disabled]="non_modificare_risposta" *ngIf="risposta.tipo === 'text'" type="text" [value]="risposta.risposta" [name]="risposta.domanda">
                        <select class="form-control" [disabled]="non_modificare_risposta" *ngIf="risposta.tipo === 'select'" (click)="recupera_opzioni_select(risposta,risposta.risposta)" [name]="risposta.domanda" [id]="risposta.id" tag="0">                      
                          <option [value]="risposta.risposta">{{ risposta.risposta }}</option>
                        </select>
                      </div>                  
                    </div>                      
                  </div>

                  <!-- SEZIONE DOMANDE SENZA RISPOSTA -->                  
                  <div id="domande_non_compilate" class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12 domanda_sp_dt" *ngFor="let domanda of nuovaspecific_data" [attr.tag]="domanda.domanda">                    
                    <div class="row mt-2" >
                      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 ps-5 align-content-center">                    
                        <label class="uppercase">{{ domanda.domanda }}</label>
                      </div>
                      <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">                    
                        <input class="form-control" [disabled]="non_modificare_risposta" *ngIf="domanda.tipo_risposta === 'number'" type="number" value="" [name]="domanda.domanda">                    
                        <input class="form-check-input form-check form-switch " [disabled]="non_modificare_risposta" *ngIf="domanda.tipo_risposta === 'boolean'" type="checkbox" [name]="domanda.domanda">                    
                        <input class="form-control" [disabled]="non_modificare_risposta" *ngIf="domanda.tipo_risposta === 'text'" type="text" value="" [name]="domanda.domanda">
                        <select class="form-control" [disabled]="non_modificare_risposta" *ngIf="domanda.tipo_risposta === 'select'" [name]="domanda.domanda">
                          <option value="">Seleziona un'opzione</option>
                          <option *ngFor="let opzione of domanda.detail_question" [value]="opzione.opzione">{{ opzione.opzione }}</option>
                        </select>
                      </div>                  
                    </div>
                  </div>                  

              </form>

            </div>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="container-fluid contrattoselezionato">
          <div class="col-md-12 col-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
            <div class="card-header ps-0 text-center">
              <label class="uppercase ps-0">Sezione Gestione documenti allegati al contratto</label>
            </div>

            <div class="form-group">
                  <!-- <div class="card-header ps-0">
                    <label class="title card-title">File Allegati:</label>
                  </div> -->
              <div class="row pt-4 pb-2 rigaallegati d-flex justify-content-center align-items-center">
                <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                  <label class="uppercase ps-0 ">File Allegati:</label>
                </div> -->
                <div class="col-8 col-xs-8 col-md-8 col-lg-8 col-xl-8 col-xxl-9">

                  <div class="container-fluid">

                    <!-- <div class="row justify-content-left"> -->
                      <!-- <div class="col-2 text-center" *ngFor="let file of fileSelezionati"> -->
                        <!-- <div class="d-flex flex-wrap justify-content-around"> -->
                        <div *ngFor="let file of fileSelezionati" class="allegatofluid">
                        <a [href]="file.basepath + file.id + '/' + file.name" target="_blank">
                          <!-- <img *ngIf="isImage(file.name)" [src]="file.basepath + file.id + '/' + file.name" [alt]="file.name" class="thumbnail mr-2" matTooltip="{{file.name}}" matTooltipPosition="above" /> -->
                          <!-- <mat-icon *ngIf="!isImage(file.name)" class="mr-2 mat-icon-x-large" matTooltip="{{file.name}}" matTooltipPosition="above">{{ getFileIcon(file.name) }}</mat-icon> -->
                          <mat-icon class="mr-2 mat-icon-x-large allegato"  matTooltip="{{file.name}}" matTooltipPosition="above">{{ getFileIcon(file.name) }}</mat-icon>
                        </a>
                        <button mat-icon-button color="warn" (click)="deleteFile(file)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        </div>
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->

                  </div>
                </div>
              </div>

              <div *ngIf="fileSelezionati?.length === 0"> Nessun file </div>
              <app-dropzone uploadType="contract"></app-dropzone>
            </div>

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 pl-1 w-25">
          <div class="form-group text-center" *ngIf="DettagliContratto">
            <button *ngFor="let contratto of DettagliContratto" type="submit" class="btn bottoniFormConferma" (click)="updateContratto(contratto.id)">Salva</button>            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="card" *ngIf="MODIFICAMASSIVA.length>0" @pageTransition>
  <div class="card-header">
    <label class="card-title title"> SELEZIONE MULTIPLA</label>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 m-5 p-5">
      <h3><span style="font-weight: 900;">CONTRATTI SELEZIONATI: </span> <span style="font-weight: 900;color: red;"> {{MODIFICAMASSIVA.length}}</span> </h3>
      <h3><span style="font-weight: 900;">MACRO CATEGORIE SELEZIONATE: </span> </h3>
      <p *ngFor="let conteggio of CONTEGGIOPRODOTTI"> <span> {{conteggio.descrizione}} </span> <span style="font-weight: 900;color: red;">{{conteggio.contatore}}</span></p>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-12 text-center align-content-center">
      <label class="uppercase">Cambio Stato contratto massivo</label>
    </div>
    <div class="col-12 d-flex mt-5 justify-content-center text-center">

      <select class="form-control w-25 text-center stato_avanzamento_massivo" Name="stato_avanzamento_massivo" placeholder="Seleziona stato per i contratti selezionati">
        <!-- Stato selezionato -->
        <!-- Iterazione per i macroStati -->
        <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
          <!-- Gestione del primo gruppo (numero 1) -->
          <ng-template [ngIf]="i === 0">
            <optgroup [label]="'1. ' + macroStato.key" style="font-weight: bold; color: black;">
              <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                {{opt.micro_stato}}
              </option>
            </optgroup>
          </ng-template>
        </ng-container>

        <!-- Gestione del terzo gruppo (che deve diventare il secondo con numero 2) -->
        <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
          <ng-template [ngIf]="i === 2">
            <optgroup [label]="'2. ' + macroStato.key" style="font-weight: bold; color: black;">
              <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                {{opt.micro_stato}}
              </option>
            </optgroup>
          </ng-template>
        </ng-container>

        <!-- Gestione del secondo gruppo (che deve diventare il terzo con numero 3) -->
        <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
          <ng-template [ngIf]="i === 1">
            <optgroup [label]="'3. ' + macroStato.key" style="font-weight: bold; color: black;">
              <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                {{opt.micro_stato}}
              </option>
            </optgroup>
          </ng-template>
        </ng-container>

        <!-- Gestione del resto dei gruppi (numero 4 in poi) -->
        <ng-container *ngFor="let macroStato of microStatiPerMacroStato | keyvalue; let i = index">
          <ng-template [ngIf]="i > 2">
            <optgroup [label]="(i + 1) + '. ' + macroStato.key" style="font-weight: bold; color: black;">
              <option *ngFor="let opt of getMicroStatiPerMacroStato(macroStato.key)" [value]="opt.id_status">
                {{opt.micro_stato}}
              </option>
            </optgroup>
          </ng-template>
        </ng-container>
      </select>
    </div>
    <div class="col-12 text-center mt-5">
      <button type="submit" class="btn bottoniFormConferma" (click)="updateStatiMassivi()">Cambia Stato</button>
    </div>
  </div>
</div>
<div class="overlay" id="over"></div>
<div class="centered-element" [hidden]="matspinner" id="matspin">
  <mat-spinner class="large-spinner"></mat-spinner>
</div>