<div class="card" [@pageTransition]="state">
  <div class="card-header">
    <h3 class="card-title"> Selezionare il Prodotto 2</h3>
  </div>
  <div class="card-body">


    <!-- [hidden]="show_product" -->
    <div [hidden]="show_product" class="card" data-background-color="yellow">
      <h4 class="card-header">Prodotto selezionato</h4>
      <div class="card-body mb-2">
        <h3>{{descrizione_prodotto_sel}}</h3>
      </div>
    </div>

    <div class="mat-elevation-z8 demo-table">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- [dataSource]="dataSource"  -->

        <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
        <ng-container [matColumnDef]="displayedColumns[0]">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
          </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>


        <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
        <ng-container [matColumnDef]="displayedColumns[1]">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label>DESCRIZIONE</mat-label>
              <input matInput (keyup)="selectValue(displayedColumns[1],$event)" placeholder="CERCA PER DESCRIZIONE"
                #input>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.descrizione}} </td>
        </ng-container>

        <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
        <ng-container [matColumnDef]="displayedColumns[2]">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label> MACRO PRO </mat-label>
              <!--INIZIO SEZIONE FILTRO COLONNA -->
              <mat-select [formControl]="mpdToppings" multiple>
                <mat-select-trigger>
                  {{mpdToppings.value?.[0] || ''}}
                  @if ((mpdToppings.value?.length || 0) > 1) {
                  <span class="span-additional-selection">
                    (+{{(mpdToppings.value?.length || 0) - 1}} {{mpdToppings.value?.length === 2 ? 'selezionato' :
                    'selezionati'}})
                  </span>
                  }
                </mat-select-trigger>
                @for (topping of MacroDescrizione; track topping) {
                <mat-option [value]="topping"
                  (click)="selectOpt(displayedColumns[2],this.mpdToppings.value)">{{topping}}</mat-option>
                }
              </mat-select>
              <!--FINE SEZIONE FILTRO COLONNA -->
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.macro_descrizione}} </td>
        </ng-container>

        <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
        <ng-container [matColumnDef]="displayedColumns[3]">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label>CODICE MACRO PRO</mat-label>
              <!--INIZIO SEZIONE FILTRO COLONNA -->
              <mat-select [formControl]="mprToppings" multiple>
                <mat-select-trigger>
                  {{mprToppings.value?.[0] || ''}}
                  @if ((mprToppings.value?.length || 0) > 1) {
                  <span class="span-additional-selection">
                    (+{{(mprToppings.value?.length || 0) - 1}} {{mprToppings.value?.length === 2 ? 'selezionato' :
                    'selezionati'}})
                  </span>
                  }
                </mat-select-trigger>
                @for (topping of MacroProList; track topping) {
                <mat-option [value]="topping"
                  (click)="selectOpt(displayedColumns[3],this.mprToppings.value)">{{topping}}</mat-option>
                }
              </mat-select>
              <!--FINE SEZIONE FILTRO COLONNA -->
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.macro_product}} </td>
        </ng-container>

        <!-- COLONNA CAMPO TABELLA COME DA VARIABILE displayedColumns -->
        <ng-container [matColumnDef]="displayedColumns[4]">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label> FORNITORE</mat-label>
              <!--INIZIO SEZIONE FILTRO COLONNA -->
              <mat-select [formControl]="forToppings" multiple>
                <mat-select-trigger>
                  {{forToppings.value?.[0] || ''}}
                  @if ((forToppings.value?.length || 0) > 1) {
                  <span class="span-additional-selection">
                    (+{{(forToppings.value?.length || 0) - 1}} {{forToppings.value?.length === 2 ? 'selezionato' :
                    'selezionati'}})
                  </span>
                  }
                </mat-select-trigger>
                @for (topping of fornitoriList; track topping) {
                <mat-option [value]="topping"
                  (click)="selectOpt(displayedColumns[4],this.forToppings.value)">{{topping}}</mat-option>
                }
              </mat-select>
              <!--FINE SEZIONE FILTRO COLONNA -->
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let row"> {{row.nome_fornitore}} </td>
        </ng-container>

        <!-- SEZIONE RIGHE VISUALIZZATE -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRows(row)"></tr>


        <!-- MESSAGGIO RIGHE NON TROVATE -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nessun dato corrispondente alla ricerca</td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
</div>




<!-- <ng-container [matColumnDef]="displayedColumns[1]">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <mat-label>DESCRIZIONE</mat-label>

                <mat-select [formControl]="prdToppings" multiple>

                  <mat-select-trigger>
                    {{prdToppings.value?.[0] || ''}}
                    @if ((prdToppings.value?.length || 0) > 1) {
                    <span class="span-additional-selection">
                      (+{{(prdToppings.value?.length || 0) - 1}} {{prdToppings.value?.length === 2 ? 'selezionato' :
                      'selezionati'}})
                    </span>
                    }
                  </mat-select-trigger>

                  @for (topping of prodottiList; track topping) {
                  <mat-option [value]="topping"
                    (click)="selectOpt(displayedColumns[1],this.prdToppings.value)">{{topping}}</mat-option>
                  }
                </mat-select>

              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.descrizione}} </td>
          </ng-container> -->
