.span-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

mat-form-field {
  display: inline!important;
}

::ng-deep .mat-mdc-form-field-bottom-align::before {
  content: unset!important;
  display: contents!important;
  height: 0px!important;
}

.mat-mdc-header-row {
  background-color: #f5f5f5 !important;
}


.mat-mdc-row:hover {
  background-color: #f7daa1;
  cursor: pointer;
}

:host * { 
  position:relative;/* Seleziona tutti gli elementi discendenti del componente */
  z-index: 10!important; /* Imposta lo z-index desiderato */
}
