<!-- <div class="container mt-5">
    <div class="row justify-content-center timer m-1">
      <div class="col-3 text-center p-3">
        <div class="row justify-content-center fs-3">  {{timesesH}} </div>
        <div class="row justify-content-center"> ora </div>
      </div>
      <div class="col-3 text-center p-3">
        <div class="row justify-content-center fs-3"> {{timesesM}} </div>
        <div class="row justify-content-center"> min </div>
      </div>
      <div class="col-3 text-center p-3">
        <div class="row justify-content-center fs-3"> {{timesesS}} </div>
        <div class="row justify-content-center"> sec </div>
      </div>
      <div class="col-3 text-center p-3 align-content-center align-items-center align-self-center   ">
        <i type="button" class="fa-solid fa-retweet" (click)="refresh()"></i>
      </div>
    </div>
  </div> -->

  <div class="container center mt-5">
    <!-- Heading with a launch message -->
    <div class="row justify-content-center">

        <!-- Countdown timer section -->
        <section class="countdown-timer">
    
          <!-- Countdown for Days -->
          
    
          <!-- Countdown for Hours -->
          <div class="countdown-info col-3">
            <div class="timer-box rounded">
              <div id="flip-sheet-hour" class="sheet"></div>
              <div class="circle-left"></div>
              <p id="hours" class="primary">{{timesesH}}</p>
              <div class="circle-right"></div>
            </div>
            <p class="sub-heading">ORE</p>
          </div>
    
          <!-- Countdown for Minutes -->
          <div class="countdown-info col-3">
            <div class="timer-box rounded">
              <div id="flip-sheet-min" class="sheet"></div>
              <div class="circle-left"></div>
              <p id="minutes" class="primary">{{timesesM}}</p>
              <div class="circle-right"></div>
            </div>
            <p class="sub-heading">MINUTI</p>
          </div>
    
          <!-- Countdown for Seconds -->
          <div class="countdown-info col-3">
            <div class="timer-box rounded">
              <div id="flip-sheet-sec" class="sheet"></div>
              <div class="circle-left"></div>
              <p id="seconds" class="primary">{{timesesS}}</p>
              <div class="circle-right"></div>
            </div>
            <p class="sub-heading">SECONDI</p>
          </div>
          <div class="col-3 text-center p-1 align-content-center align-items-center align-self-center   ">
            <i type="button" class="fa-solid fa-retweet" style="color:white" (click)="refresh()"></i>
          </div>
        </section>
    </div>
  </div>
