.timer-box {
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  background-color: hsl(236, 21%, 26%);
  position: relative;
  border-radius: 0.25em;
}

.sheet {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  right: 0;
  background-color: hsl(235, 16%, 14%);
  opacity: 0.35;
}

.flip {
  transition: transform 1s;
  transform: translate(0%, 100%) scaleY(-1);
}

.circle-left {
  width: 0.25em;
  height: 0.45em;
  position: absolute;
  background-color: hsl(234, 17%, 12%);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 45%;
  left: 0;
}

.circle-right {
  width: 0.25em;
  height: 0.45em;
  position: absolute;
  background-color: hsl(234, 17%, 12%);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  top: 45%;
  right: 0;
}

.sub-heading {
  font-size: 0.5rem;
  color: hsl(237, 18%, 59%);
  text-align: center;
  letter-spacing: 0.5ch;
  margin-top: 1em;
}

.primary {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: hsl(0, 86%, 54%);
  text-align: center;
}

.heading {
  font-size: 1.1rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.5ch;
  text-align: center;
  margin-bottom: 3rem;
}
