<p-toast class="p-toast" position="bottom-right"></p-toast>
<div class="row" [@pageTransition]="state" [hidden]="!hideComponent">

  <div class="col-md-4">
    <div class="card card-user" Resize >
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">

          <img class="avatar border-gray img-fluid" [src]="urlImageProfile" alt="...">
          <h2 class="title text-uppercase">{{User.nome}} {{User.cognome}}</h2>

          <p class="description">
            {{ dati }}
          </p>
        </div>
        <p class="description text-center">
          <span style="color:#34b5b8;font-weight: 700;">Qualifica: </span>{{User.qualifica}}
          <br>
          <span style="color:#34b5b8;font-weight: 700;">Ruolo: </span>{{User.ruolo}}

        </p>
      </div>
      <!-- <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>{{User.n_contratti}}
                <br>
                <small>Contratti</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>{{User.compensopvdiretti}}
                <br>
                <small>Compenso Pv</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>{{User.pcNecessari}}
                <br>
                <small>Pc necessari</small>
              </h5>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div *ngIf="User.ruolo=='Cliente'" >
        <app-card-statistic></app-card-statistic>
    </div>
    <div *ngIf="User.ruolo=='Advisor'" >
        <app-card-statisticSeu></app-card-statisticSeu>
    </div>
      <!-- <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-globe text-warning"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Compenso PV Diretti</p>
                  <p class="card-title">{{compensopvdiretti}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> Update Now
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px" *ngIf="!RuoloCliente">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-money-coins text-success"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">PC Necessari</p>
                  <p class="card-title">{{User.pcNecessari}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i> Last day
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i [class]="IconnumeroClientiAmiciInvitati"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">{{textClienti}}</p>
                  <p class="card-title">{{numeroClientiAmiciInvitati}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i> Update now
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="nc-icon nc-vector text-danger"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Contratti</p>
                  <p class="card-title">{{User.n_contratti}}
                  <p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> In the last hour
            </div>
          </div>
        </div>
      </div> -->

    <div class="row mt-2" style="min-width:270px" *ngIf="User.ruolo=='Cliente'" >

      <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
        <div class="button-container">
          <button mat-raised-button class="square-button" (click)="vaiALead()">
            <div class="button-content">
              <i class="nc-icon nc-send"></i>
              <h2 class="button-text">Invita Amico</h2>
            </div>
          </button>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
        <div class="button-container">
          <button mat-raised-button class="square-button" (click)="vaiASchedaPersonale()">
            <div class="button-content">
              <i class="nc-icon nc-single-copy-04"></i>
              <h2 class="button-text" style="line-height: 1.1;">Scheda Personale</h2>
            </div>
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xxl-12" style="min-width:250px" *ngIf="User.ruolo!='Cliente'">
        <div class="button-container">
          <div class="col-12">
            <app-contratti-personali></app-contratti-personali>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="col-md-12" >

      <div class="card card-user">
        <div class="card-header" (click)="showProfileForm = !showProfileForm">
          <h3 class="card-title">Modifica Profilo
            <i class="fas fa-chevron-down" *ngIf="!showProfileForm"></i>
            <i class="fas fa-chevron-up" *ngIf="showProfileForm"></i>
          </h3>
        </div>

        <div class="card-body" *ngIf="showProfileForm">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Ragione Sociale</label>
                  <input type="text" class="form-control" disabled="" placeholder="Ragione Sociale"
                    [value]="User.rag_soc">
                </div>
              </div>

              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" placeholder="Email" [value]="User.email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" class="form-control" placeholder="Nome" [value]="User.nome">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Cognome</label>
                  <input type="text" class="form-control" placeholder="Cognome" [value]="User.cognome">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Immagine profilo</label>
                  <app-dropzone uploadType="profile"></app-dropzone>
                </div>
              </div>
            </div>
            <div class="row">
              <hr>
              <div class="col-md-12">
                <h4>Cambio Password</h4>
                <div class="row">
                  <div class="col-md-4 col-xxl-4 gap-1 mr-n5">
                    <div class="form-group">
                      <label>Vecchia Password</label>
                      <input type="password" class="form-control w-50 oldpassword" placeholder="Vecchia Password">
                    </div>
                  </div>
                  <div class="col-md-4 col-xxl-4 gap-1 me-auto ps-auto">
                    <div class="form-group">
                      <label>Nuova Password</label>
                      <input type="password" class="form-control w-50 newPassword" placeholder="Nuova Password">
                    </div>
                  </div>
                  <div class="col-md-4 col-xxl-4 gap-1 me-auto ps-auto">
                    <div class="form-group">
                      <label>Ripeti Nuova Password</label>
                      <input type="password" class="form-control w-50 repeatNewPassword"
                        placeholder="Ripeti Nuova Password">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn bottoniFormConferma btn-round"
                    (click)="modificaPassword(User.id)">Modifica Password</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Indirizzo</label>
                  <input type="text" class="form-control" placeholder="Home Address" [value]="User.indirizzo">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Città</label>
                  <input type="text" class="form-control" placeholder="City" [value]="User.citta">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Stato</label>
                  <input type="text" class="form-control" placeholder="Country" [value]="User.stato">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Cap</label>
                  <input type="number" class="form-control" placeholder="95121" [value]="User.cap">
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn bottoniFormConferma btn-round" (click)="prova()">Salva
                  Modifiche</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 card p-3" *ngIf="User.ruolo!='Cliente'">
      <h1>STATISTICHE</h1>
      <div class="row justify-content-between">
        <div class="col-md-3">
          <h3 class="text-uppercase" style="font-weight: 900;">AVANZAMENTO CONVERSIONE {{textLead}}</h3>
          <app-lead-conversion></app-lead-conversion>

        </div>
        <div class="col-md-6">
          <h3 style="font-weight: 900;">PREVISIONE PV</h3>
          <app-prevision-pvbar></app-prevision-pvbar>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3" *ngIf="User.ruolo!='Cliente'" >
      <div class="row">
        <div class="col-12">
          <app-tabellacontratti></app-tabellacontratti>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-tabellacontatti></app-tabellacontatti>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3" *ngIf="User.ruolo=='Cliente'" >
      <div class="row">
        <div class="col-12">
          <app-tabellacontatti></app-tabellacontatti>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-tabellacontratti></app-tabellacontratti>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-contratti-personali></app-contratti-personali>
        </div>
      </div>
    </div>


    <!-- <div class="card w-75" [hidden]="hideTeamMembers" >
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-6 text-start" *ngFor="let root of data">
            <p-organizationChart styleClass="org-chart-container text-start" [value]="[root]" [collapsible]="true">
              <ng-template let-node pTemplate="default">
                <div class="ui-person">
                  <div class="p-2 text-center">
                    <img *ngIf="node.foto==''" [src]="urlImageProfile" [alt]="node.label"
                      [class]="'flag' + ' flag-' + node.data" width="54" />
                    <img *ngIf="node.foto!=''" [src]="urlImageProfileUrl+'/'+node.foto" [alt]="node.label"
                      [class]="'flag' + ' flag-' + node.data" width="54" />

                    <div class="p-2">
                      {{ node.label }}
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-organizationChart>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <app-chatbot></app-chatbot> -->
  </div>
</div>
