:host * { 
    position:relative;/* Seleziona tutti gli elementi discendenti del componente */
     /* Imposta lo z-index desiderato */
  }
  ::ng-deep.org-chart-container {
    width: 75%; /* Imposta la larghezza del contenitore */
    overflow-x: auto; /* Abilita lo scorrimento orizzontale se necessario */
    /* Aggiungi altre proprietà di stile come necessario */
  }
  .tree {
    ul {
      padding-top: 20px;
      position: relative;
    }
  
    li {
      white-space: nowrap;
      float: left;
      text-align: center;
      list-style-type: none;
      padding: 20px 5px 0 5px;
      position: relative;
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
      }
  
      &::after {
        right:   
   auto;
        left: 50%;
        border-left: 1px solid #ccc;
      }
  
      &:only-child::after,
      &:only-child::before {
        display: none;
      }
  
      &:only-child {
        padding-top:   
   0;
      }
  
      &:first-child::before,
      &:last-child::after {
        border: 0 none;
      }
  
      &:last-child::before {
        border-right:   
   1px solid #ccc;
        border-radius: 0 5px 0 0;
      }
  
      &:first-child::after {
        border-radius: 5px 0   
   0 0;
      }
    }
  
    ul ul::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1px solid #ccc;
      width: 0;
      height:   
   20px;
    }
  
    li a {
      border: 1px solid #ccc;
      padding: 5px 10px;
      text-decoration: none;
      color: #666;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;   
  
  
      &:hover { 
        & + ul li { 
          &::after,
          &::before,
          & + ul::before,
          & + ul ul::before {
            border-color: #94a0b4;
          }
        }
  
        background: #c8e4f8; 
        color: #000; 
        border: 1px solid #94a0b4;
      }
    }
  }
  ::ng-deep{
    .p-toast {
      z-index: 9999!important; /* o un valore più alto se necessario */
    }
  }

  .button-container {
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }
  
  .square-button {
    width: 310px; /* Larghezza desiderata */
    height: 110px; /* Altezza uguale alla larghezza per renderlo quadrato */
    display: flex;
    flex-direction: column; /* Icona in alto, testo in basso */
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
    margin: 2rem;
    border-radius: 10px;
    transition: all 0.8s;
    z-index: 1 !important;
  }
  .square-button:hover {
    animation: pulse 2s infinite;
    border-radius: 20px;
  }
  .square-button-table {
    width: 20px; /* Larghezza desiderata */
    height: 40px; /* Altezza uguale alla larghezza per renderlo quadrato */
    display: flex;
    flex-direction: column; /* Icona in alto, testo in basso */
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
    /* margin: 1rem; */
    border-radius: 10%;
    transition: all 0.8s;
    z-index: 1 !important;
  }
  .square-button-table:hover {
    animation: pulse 2s infinite;
    border-radius: 20%;
  }
  .button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-icon {
    font-size: 45px;
    margin-bottom: 0.5rem;
    padding: 3rem;
    justify-content: center;
    display: flex;
    margin-top: -3rem;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(3, 168, 124, 0.4);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(3, 168, 124, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
    }
  }
  .nc-icon{
    font-size: 30px;
  }
  