<input type="checkbox" name="uro" id="uro" checked>
<input type="checkbox" name="btn" id="btn">
<label for="btn">
  <span class="counter">{{counter}}</span>
</label>
<div class="panel">
  <div *ngIf="messages && messages.length > 0">
  <ul class="mt-3" *ngFor="let message of messages; let i = index">
    <mat-icon class="ms-auto m-1" (click)="markAsRead(message)" style="cursor:pointer;color:green;">check_circle</mat-icon>
    <li class="notification-container"
      [ngClass]="{'alert-secondary': !message.visualizzato}"
      (mouseover)="onHover(message.id)" (mouseleave)="onLeave()">

      <img src="https://clearportal.semprechiaro.com/public/storage/userImage/default/userImageDefault.png">

      <!-- Usa [innerHTML] per mostrare il contenuto HTML fidato -->
      <div [innerHTML]="message.notifica_html"></div>
      
    </li>
  </ul>
</div>
<div *ngIf="messages && messages.length == 0">
  <ul>
    <li class="notification-container">
      <h2 class="d-flex text-center">Nessuna nuova notifica.</h2>
    </li>
  </ul>
</div>
</div>