<div class="wrapper" [@pageTransition]="state">

    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
        <app-ricercaclienti></app-ricercaclienti>
    </div>
    
    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
        <app-contratti-ricerca *ngIf="!hiddencomponentRicerca"></app-contratti-ricerca>
    </div>

    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
        <app-nuovocliente *ngIf="!hiddencomponent"></app-nuovocliente>
    </div>
    
    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
        <app-nuovocontrattoComponent *ngIf="!hiddenNuovocontratto"></app-nuovocontrattoComponent>
    </div>
    
</div>