:host * {
    position:relative;/* Seleziona tutti gli elementi discendenti del componente */
    z-index: 10!important; /* Imposta lo z-index desiderato */
  }

  .btnStepperEna {
    border-radius: 50%;
    background-color: #6d9ebc;
    padding:1rem;
    color:white;
    animation: pulsate 1.5s infinite;
  }

  .btnStepperDis {
    border-radius: 50%;
    background-color: #49494b;
    padding:1rem;
    color:white;
    cursor: pointer!important;
  }

  @keyframes pulsate {
    0% {
      transform: scale(1); /* Dimensione iniziale */
    }
    50% {
      transform: scale(1.3); /* Aumenta a 150% della dimensione */
    }
    100% {
      transform: scale(1); /* Ritorna alla dimensione iniziale */
    }
  }

  ::ng-deep .centered-snackbar {
    top: 50%;
    transform: translateY(-50%);
  }
