<div class="row" style="max-height:330px;overflow-x: auto;min-width:270px">
    <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Punti</p>
                <p class="card-title">{{compensopvdiretti}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <!-- <i class="fa fa-refresh"></i> Update Now -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-send text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">PC Necessari</p>
                <p class="card-title">{{User.pcNecessari}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Last day
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Amici invitati</p>
                <p class="card-title">{{numeroClientiAmiciInvitati}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <!-- <i class="fa fa-refresh"></i> Update now -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 col-xxl-6" style="min-width:250px">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Contratti</p>
                <p class="card-title">{{countContratti}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <!-- <i class="fa fa-clock-o"></i> In the last hour -->
          </div>
        </div>
      </div>
    </div>
</div>
