:host * { 
    position:relative;/* Seleziona tutti gli elementi discendenti del componente */
    z-index: 10!important; /* Imposta lo z-index desiderato */
  }

  .alert{
    padding-top: 0px;
    padding-bottom: 0px;
  }