.daterangepicker {
    background-color: rgba(185, 184, 184, 0.411);
    background-size: auto;
}

@media (min-width: 564px) {
    .daterangepicker {
        width: auto;
    }
}

.daterangepicker .drp-calendar {
    display: none;
    max-width: 400px!important;
}

@media only screen and (min-width: 204px) and (max-width:800px) {
    .daterangepicker .drp-calendar {
        display: none;
        max-width: 400px!important;
    }
    .daterangepicker {
        /* margin-left: -2rem; */
        width: 345px;
    }
    .daterangepicker .drp-calendar {
        width: 345px;
    }
    .daterangepicker.drop-up {
        margin-top: 140px!important;
        width: 345;
    }
}

.id {
    max-width: 24px!important;
}