.pagination {
    justify-content: center!important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #11101d!important;
    border-color: #11101d!important;
    border-radius: 10%;
}

.page-link {
    text-decoration: none!important;
}