.transition-fade {
    transition: 1.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transition: 1.4s;
    transform: translateY(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transition: 1.4s;
    transform: translateY(100%);
}