// Disabled menu link style
::ng-deep .disabled-link {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

// Logout link style
.logout-link {
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}