::ng-deep .disabled-link {
    pointer-events: none; /* Impedisce il click */
    cursor: default;      /* Cambia il cursore in default */
    opacity: 0.5;         /* Opacità ridotta per indicare la disabilitazione */
  }