section {
  display: table;
}
.card-user {
  max-width: 600px;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
:host * {
  position: relative; /* Seleziona tutti gli elementi discendenti del componente */
  z-index: 10 !important; /* Imposta lo z-index desiderato */
}

.button-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.square-button {
  width: 110px; /* Larghezza desiderata */
  height: 110px; /* Altezza uguale alla larghezza per renderlo quadrato */
  display: flex;
  flex-direction: column; /* Icona in alto, testo in basso */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  margin: 2rem;
  border-radius: 10%;
  transition: all 0.8s;
  z-index: 1 !important;
}
.square-button:hover {
  animation: pulse 2s infinite;
  border-radius: 20%;
}
.square-button-table {
  width: 20px; /* Larghezza desiderata */
  height: 40px; /* Altezza uguale alla larghezza per renderlo quadrato */
  display: flex;
  flex-direction: column; /* Icona in alto, testo in basso */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  /* margin: 1rem; */
  border-radius: 10%;
  transition: all 0.8s;
  z-index: 1 !important;
}
.square-button-table:hover {
  animation: pulse 2s infinite;
  border-radius: 20%;
}
.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-icon {
  font-size: 45px;
  margin-bottom: 0.5rem;
  padding: 3rem;
  justify-content: center;
  display: flex;
  margin-top: -3rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(3, 168, 124, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
  }
}

.lead-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lead-item {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(233, 233, 233, 0.47);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 24px 18px -11px #6d9ebc;
  box-shadow: 0px 24px 18px -11px #6d9ebc;
  border-radius: 20px;
  transition: all 0.7s ease-in-out;
  position: relative;
}

.lead-item:hover {
  -webkit-box-shadow: 4px 15px 50px 9px #ccd54f;
  box-shadow: 4px 15px 50px 9px #ccd54f;
  transition: all 0.7s ease-in-out;
}

.lead-item:hover .submenu {
  display: flex;
  width: 300px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(233, 233, 233, 0.47);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 24px 18px -11px #6d9ebc;
  box-shadow: 0px 24px 18px -11px #6d9ebc;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 1; /* Imposta l'opacità a 1 (visibile) al passaggio del mouse */
  transform: translateY(0);
}
.lead-item h3 {
  font-weight: 900;
  display: inline-block;
}
.lead-item h3 span {
  font-size: 0.9rem;
}
.lead-item h3 a {
  font-size: 0.9rem;
}
.lead-item p {
  font-weight: 900;
  display: inline-block;
}

.lead-item p a {
  font-size: 0.9;
}
.submenu {
  opacity: 0; /* Imposta l'opacità iniziale a 0 (invisibile) */
  transform: translateY(
    -100px
  ); /* Sposta leggermente il sottomenu verso l'alto */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute; /* Posiziona il sottomenu in relazione al contenitore */
  bottom: 30%; /* Posiziona il sottomenu sotto il menu principale */
  left: 0;
  background-color: #f0f0f0; /* Stile di sfondo */
  border: 1px solid #ccc; /* Bordo opzionale */
  z-index: 1; /* Assicura che il sottomenu sia sopra altri elementi */
  transition: all 0.3s ease-in-out;
}
.lead-item .submenu::before {
  content: ""; /* Contenuto vuoto per creare l'elemento pseudo */
  position: absolute; /* Posizionamento assoluto rispetto al sottomenu */
  bottom: 100%; /* Posiziona il triangolo sotto il sottomenu */
  left: 50%; /* Centra orizzontalmente il triangolo */
  transform: translateX(-50%); /* Sposta il triangolo a sinistra della sua metà larghezza */
  border-left: 10px solid transparent; /* Bordo sinistro trasparente */
  border-right: 10px solid transparent; /* Bordo destro trasparente */
  border-bottom: 10px solid rgba(233, 233, 233, 0.47); /* Bordo inferiore con il colore di sfondo del sottomenu */
}


.lead-container {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  width: 100%;
}

.lead-detail-container {
  margin-top: 20px;
}

table {
  width: 100%;
}

.leadCard{
  max-height: 550px;
  overflow-y: scroll;
}

.button-row {
  display: flex;
  gap: 4px; /* Imposta uno spazio minimo tra i pulsanti */
  justify-content: start; /* Puoi gestire l'allineamento dei pulsanti */
}

button {
  margin: 0; /* Rimuove i margini inutili */
  padding: 0; /* Riduce il padding dei pulsanti per un aspetto più compatto */
}

.rounded-row {
  display: flex;
  margin-bottom: 10px; /* Distanza tra le righe */
  border-radius: 15px; /* Arrotonda i bordi delle righe */
  overflow: hidden; /* Assicura che il contenuto rimanga all'interno */
  border: 1px solid #ccc; /* Bordo intorno alla riga */
}

.rounded-row td {
  padding: 10px;
  flex: 1; /* Permette alle celle di adattarsi al contenitore flex */
  border-right: 1px solid #eee; /* Bordo tra le celle */
}

.rounded-row td:last-child {
  border-right: none; /* Rimuove il bordo destro dall'ultima cella */
}





