::ng-deep {
  position: relative;
  z-index: 10!important;
    .question-form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    .mat-mdc-text-field-wrapper {
        flex: none!important; /* Imposta flex-grow a 0 per evitare l'espansione */
      }
    .form-row {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .campodomanda {
      width: 400px !important;
      position: relative;
      display: inline-block;
      margin-left: 15px;
      top: -5px
    }

    /* Stili per schermi medi e grandi */
    @media (min-width: 768px) {
      .question-form {
        grid-template-columns: 1fr 1fr;
      }

      .form-row {
        flex-direction: row;
      }

      .options-container {
        grid-column: span 2;
      }
    }

    .options-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .options-container > div {
      display: flex;
      align-items: center;
    }

    mat-form-field {
      width: 100%;
    }

    /* Spaziatura personalizzata tra gli elementi */
    mat-form-field + mat-form-field,
    mat-form-field + button,
    .options-container > div + button {
      margin-top: 16px;
    }

    // span {
    //   margin: 15px;
    //   font-size: 12px;
    // }

    // h4 {
    //   margin: 10px!important;
    // }

  }
