<div class="card" [@pageTransition]="state">
  <div class="card-header">
    <h4 class="card-title"> Crea le domande aggiuntive per tipologia di Contratto / Prodotto!</h4>
  </div>
  <div class="card-body">

    <div *ngIf="{form}">
      <form [formGroup]="form" class="question-form" [hidden]="hideForm">
        <div class="form-row" style="z-index:2" >
          <mat-form-field appearance="outline" style="flex: 0 1 auto;">
            <mat-label>Categoria</mat-label>
            <mat-select id="categoryId" formControlName="categoryId" (selectionChange)="onCategorySelect($event)">
              <mat-option *ngFor="let categoria of categorie" [value]="categoria.id">{{ categoria.descrizione
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="selectedCategory" class="form-content" style="z-index:2">

          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Testo Domanda</mat-label>
              <input matInput type="text" id="text" formControlName="text">
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Tipo Risposta</mat-label>
              <mat-select id="type" formControlName="type">
                <mat-option value="text">Testo</mat-option>
                <mat-option value="boolean">Booleano</mat-option>
                <mat-option value="number">Numero</mat-option>
                <mat-option value="select">Select</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Obbligatorio</mat-label>
              <mat-select id="obbligatorio" formControlName="obbligatorio">
                <mat-option value="0">No</mat-option>
                <mat-option value="1">Si</mat-option>                
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="form.get('type')?.value === 'select'" formArrayName="options" class="options-container">
            <div *ngFor="let option of options.controls; let i = index">
              <mat-form-field appearance="outline">
                <mat-label>Opzione {{ i + 1 }}</mat-label>
                <input matInput type="text" [formControlName]="i">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeOption(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <br>
            <button mat-raised-button color="primary" (click)="addOption()">
              <mat-icon>add</mat-icon> Aggiungi Opzione
            </button>
          </div>
          <br>

          <div class="form-row">
            <button mat-raised-button color="primary" (click)="createQuestion('new')">
              <mat-icon>save</mat-icon> Crea Domanda
            </button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="{form2}">

      <form [formGroup]="form2" class="question-form" [hidden]="hideForm2">
        <div class="form-row" style="z-index:2" [hidden]="hideDomandeCreate">
          <mat-form-field appearance="outline" style="flex: 0 1 auto;">
            <mat-label>Categoria2</mat-label>
            <mat-select id="questionId" formControlName="questionId" (selectionChange)="onCategorySelect($event)">
              <mat-option *ngFor="let categoria of categorie" [value]="categoria.id">{{ categoria.descrizione
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-content" style="z-index:2">
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Testo Domanda</mat-label>
              <input matInput type="text" id="text" formControlName="domanda">
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Tipo Risposta</mat-label>
              <mat-select id="type" formControlName="tipo_risposta">
                <mat-option value="text">Testo</mat-option>
                <mat-option value="boolean">Booleano</mat-option>
                <mat-option value="number">Numero</mat-option>
                <mat-option value="select">Select</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Obbligatorio</mat-label>
              <mat-select id="obbligatorio" formControlName="obbligatorio" [compareWith]="compareFn">
                <mat-option value="0">No</mat-option>
                <mat-option value="1">Si</mat-option>                
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="form2.get('tipo_risposta')?.value === 'select'" formArrayName="options" class="options-container">
            <div *ngFor="let option of options2.controls; let i = index" [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Opzione {{ i + 1 }}</mat-label>
                <input matInput type="text" formControlName="opt" [(ngModel)]="option.value.opt">
                <input matInput formControlName="id" [value]="option.value.id" hidden />
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeOption2(i,option.value.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <br>
            <button mat-raised-button color="primary" (click)="addOption2()">
              <mat-icon>add</mat-icon> Aggiungi Opzione
            </button>
            <br>
          </div>
          <div *ngIf="form2.get('tipo_risposta')?.value === 'select'" formArrayName="opzioniAggiuntive" class="options-container">
            <div *ngFor="let option of options3.controls; let i = index">
              <mat-form-field appearance="outline">
                <mat-label>Opzione {{ i + 1 }}</mat-label>
                <input matInput type="text" [formControlName]="i">
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removeOption3(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <br>
          </div>
          <br>

          <div class="form-row">
            <button mat-raised-button color="primary" (click)="createQuestion('exist')">
              <mat-icon>save</mat-icon> Modifica Domanda
            </button>
          </div>
        </div>
      </form>
    </div>

    <div #questionContainer class="question-container" style="z-index:2" [hidden]="hideDomandeCreate">
      <h2>Domande Create:</h2>
      <div *ngIf="{createdQuestions}">

        <div *ngFor="let question of createdQuestions; let i = index">
          <p>
            {{ i + 1 }}. {{ question.text }} ({{ question.type }})
            <button mat-icon-button color="primary" (click)="editQuestion(i,'new')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteQuestion(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </p>
          <ul *ngIf="question.type === 'select'">
            <li *ngFor="let option of question.options">{{ option }}</li>
          </ul>
        </div>
      </div>
      <div *ngIf="{editQuest}">
        <div *ngFor="let question of editQuest; let i = index">
          <p>
            {{ i + 1 }}. {{ question.domanda }} ({{ question.tipo_risposta }})
            <button mat-icon-button color="primary" (click)="editQuestion(question,'exist')">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteQuestion(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </p>
          <ul *ngIf="question.tipo_risposta === 'select'">
            <li *ngFor="let option of question.options">{{ option }}</li>
          </ul>
        </div>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="submitQuestions()" [disabled]="createdQuestions.length === 0"
      style="z-index:2" [hidden]="hideDomandeCreate">
      <mat-icon>send</mat-icon> Invia Domande
    </button>
    <br><br>

  </div>

</div>

<div class="card" [@pageTransition]="state">
  <div class="card-header">
    <h2 class="card-title"> Lista Domande Generate </h2>
  </div>
  <div class="card-body">

    <div *ngFor="let domanda of listaDomande;">

      
      <ng-container *ngIf="(getCodiceProd() != domanda.macro_product.id)">
        <hr>
        <h3 (click)="aprichiudidomande(domanda.macro_product.id)" style="cursor: pointer;">Macro Prodotto: <b>{{ domanda.macro_product.descrizione }} </b></h3>      
      </ng-container>

      {{ setCodiceProd(domanda.macro_product.id) }}


      <div class="row domandamacpro{{ domanda.macro_product.id }}" style="display: none;">
        <div class="col-1 text-end" >
          <!-- <mat-icon class="text-danger me-2">cancel</mat-icon> -->
          <mat-icon class="text-warning" style="font-size: 35px;width: 50px;height: 35px;">quiz</mat-icon>
        </div>

        <div class="col-10 fs-5" style="top: -6px;position: relative;">                    
          <mat-icon style="color:red" *ngIf="domanda.obbligatorio == 1">check_circle</mat-icon>
          <mat-icon style="color:green" *ngIf="domanda.obbligatorio == 0">check_circle</mat-icon>
          <span class="campodomanda">{{ domanda.domanda }}</span>

          <button mat-icon-button color="primary" (click)="click(domanda)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletequestionExist(domanda,'domande')">
            <mat-icon>delete</mat-icon>
          </button>         
        </div>

      </div>

      <div class="row domandamacpro{{ domanda.macro_product.id }}" style="display: none;">
        <div class="container" style="margin-bottom: 30px;">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10"><span><i>TIPO RISPOSTA: {{ domanda.tipo_risposta }}</i></span></div><br>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10" *ngIf="domanda.detail_question.length > 0">
              <span><i>OPZIONI SELEZIONABILI:</i></span>
              <div *ngFor="let option of domanda.detail_question ; let i = index">
                <span class="ps-3">{{ i + 1 }}. </span><span>{{option.opzione}}</span><br>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      

    </div>


  </div>
</div>