<div class="btn-group mt-5">
  <button (click)="setView(CalendarView.Month)" class="btn btn-primary fs-4 m-1 rounded">Mese</button>
  <button (click)="setView(CalendarView.Week)" class="btn btn-primary fs-4 m-1 rounded">Settimana</button>
  <button (click)="setView(CalendarView.Day)" class="btn btn-primary fs-4 m-1 rounded">Giorno</button>
</div>
<mwl-calendar-month-view class="rounded mt-3"
*ngIf="view === 'month'"
  [viewDate]="viewDate"
  [locale]="locale"
  [weekStartsOn]="weekStartsOn"
  [events]="events"
  (eventTimesChanged)="eventTimesChanged($event)"
  (eventClicked)="handleEvent('Clicked', $event)"
  (dayClicked)="test($event)">
</mwl-calendar-month-view>
<mwl-calendar-week-view class="rounded mt-3"
*ngIf="view === 'week'"
  [viewDate]="viewDate"
  [locale]="locale"
  [weekStartsOn]="weekStartsOn"
  [events]="events"
  (eventTimesChanged)="eventTimesChanged($event)"
  (eventClicked)="handleEvent('Clicked', $event)"
  (dayClicked)="test($event)">
</mwl-calendar-week-view>
<mwl-calendar-day-view class="rounded mt-3"
*ngIf="view === 'day'"
  [viewDate]="viewDate"
  [locale]="locale"
  [weekStartsOn]="weekStartsOn"
  [events]="events"
  (eventTimesChanged)="eventTimesChanged($event)"
  (eventClicked)="handleEvent('Clicked', $event)"
  (dayClicked)="test($event)">
</mwl-calendar-day-view>
