.countdown-timer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}
.timer-box {
    width: 4rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var($Dark_desaturated_blue);
    position: relative;
    border-radius: 0.25em;
  }
  
  .sheet {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    right: 0;
    background-color: var($Very_dark_blue);
    opacity: 0.35;
  }
  
  .flip {
    transition: transform 1s;
    transform: translate(0%, 100%) scaleY(-1);
  }
  
  .circle-left {
    width: var($circle-width);
    height: var($circle-height);
    position: absolute;
    background-color: var($Very_dark_blac_blue);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    top: 45%;
    left: 0;
  }
  
  .circle-right {
    width: var($circle-width);
    height: var($circle-height);
    position: absolute;
    background-color: var($Very_dark_blac_blue);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    top: 45%;
    right: 0;
  }

  .sub-heading {
	font-size: var($s-text);
	color: var($Grayish_blue);
	text-align: center;
	letter-spacing: 0.5ch;
	margin-top: 1em;
}
  