.cal-event-note {
  display: block; /* Assicurati che le note siano visualizzate come blocco */
  font-size: 12px; /* Regola la dimensione del font se necessario */
  color: #666; /* Scegli un colore appropriato */
  margin-top: 5px; /* Aggiungi un po' di spazio sopra le note */
}

::ng-deep.cal-month-view {
  border-radius: 10px !important;
}

::ng-deep.cal-week-view {
    border-radius: 10px !important;
  }

  ::ng-deep.cal-day-view {
    border-radius: 10px !important;
  }

  ::ng-deep.cal-month-view .cal-event {
    background-color: green;
    border-color: #d1e8ff;
    color: #fff;
}
