<div class="row"[@pageTransition]="state">

    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Nuovo Cliente</h5>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label class="form-label">Tipologia Cliente </label>
              <select type="number" class="form-select" [(ngModel)]="selectTipecliente" (change)="settaTipoCliente($event)">
                <option selected Value="businness">Business</option>
                <option value="consumer">Consumer</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <form [formGroup]="newCliente" ngNativeValidate>
          <input type="hidden" class="form-control" formControlName="us_padre" value="{{user_padre}}">

          <div class="row" *ngIf="selectTipecliente == 'consumer'">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="Nome Cliente" value="" required [ngClass]="{'input-error': newCliente.get('nome')?.errors && showError}">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Cognome</label>
                <input type="text" class="form-control" formControlName="cognome" placeholder="Cognome Cliente" value="" required [ngClass]="{'input-error': newCliente.get('cognome')?.errors && showError}">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="selectTipecliente == 'businness'">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Ragione Sociale</label>
                <input type="text" class="form-control" formControlName="ragione_sociale" placeholder="Inserisci la Ragione Sociale" value="" required [ngClass]="{'input-error': newCliente.get('ragione_sociale')?.errors && showError}">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="selectTipecliente == 'businness'">
            <div class="col-md-6">
              <div class="form-group">
                <label>Partita Iva</label>
                <input type="text" maxlength="11" class="form-control" formControlName="partita_iva" placeholder="Inserire Partita Iva" value="" required [ngClass]="{'input-error': newCliente.get('partita_iva')?.errors && showError}">
              </div>
            </div>
            <!-- <div class="col-md-6 align-content-end align-items-end align-self-end align-text-bottom">
              <div class="form-group ">
                <button type="button" class="btn bottoniFormConferma" (click)="copiaPI()">Copia Partita Iva</button>
              </div>
            </div> -->
          </div>

          <div class="row" *ngIf="selectTipecliente == 'consumer'">
            <div class="col-md-6">
              <div class="form-group">
                <label>Codice Fiscale</label>
                <input type="text" maxlength="16" class="form-control" formControlName="codice_fiscale" placeholder="Inserire Codice Fiscale" value="" required [ngClass]="{'input-error': newCliente.get('codice_fiscale')?.errors && showError}">
              </div>
            </div>
            <!-- <div class="col-md-6 align-content-end align-items-end align-self-end align-text-bottom">
              <div class="form-group ">
                <button type="button" class="btn bottoniFormConferma" (click)="copiaCF()">Copia Codice Fiscale</button>
              </div>
            </div> -->
          </div>

          

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Indirizzo Email" [value]="lead.email" required [ngClass]="{'input-error': newCliente.get('email')?.errors && showError}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono" value="" [ngClass]="{'input-error': newCliente.get('telefono')?.errors && showError}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label>Indirizzo</label>
                <input type="text" class="form-control" formControlName="indirizzo" placeholder="Indirizzo Civico" value="" [ngClass]="{'input-error': newCliente.get('indirizzo')?.errors && showError}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Provincia</label>
                <input type="text" class="form-control" maxlength="2" formControlName="provincia" placeholder="Provincia" value="" [ngClass]="{'input-error': newCliente.get('provincia')?.errors && showError}">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Città</label>
                <input type="text" class="form-control" formControlName="citta" placeholder="Città" value="" [ngClass]="{'input-error': newCliente.get('citta')?.errors && showError}">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Nazione</label>
                <input type="text" class="form-control" formControlName="nazione" placeholder="Nazione" value="" [ngClass]="{'input-error': newCliente.get('nazione')?.errors && showError}">
              </div>
            </div>
            <div class="col-md-3 pl-1">
              <div class="form-group">
                <label>CAP</label>
                <input type="text" class="form-control" maxlength="5" formControlName="cap" placeholder="CAP" [ngClass]="{'input-error': newCliente.get('cap')?.errors && showError}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Qualifica</label>
                <select class="form-select" formControlName="qualifica" required>
                  <option *ngFor="let qualifica of qualifiche" [value]="qualifica.id">{{ qualifica.descrizione }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Ruolo</label>
                <select class="form-select" formControlName="ruolo" required>
                  <option *ngFor="let ruolo of ruoli" [value]="ruolo.id">{{ ruolo.descrizione }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn bottoniFormConferma" (click)="storeCliente()" >Registra Cliente</button>
              <!-- (click)="storeCliente()" -->
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
