<div class="card" @pageTransition>
    <div class="card-header">
        <h4 class="card-title"> Contratti Trovati per : <span
                style="color:#6D9EBC;font-weight: 900;">{{codFpIva}}</span></h4>
    </div>
    <div class="card-body  table-responsive">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>

            <ng-container matColumnDef="tipo_contratto">
                <th mat-header-cell *matHeaderCellDef> Tipo Contratto </th>
                <td mat-cell *matCellDef="let row"> {{ row.tipo_contratto }} </td>
            </ng-container>
            
            <ng-container matColumnDef="cliente/Rag.Sociale">
                <th mat-header-cell *matHeaderCellDef> Cliente/Rag.Sociale </th>
                <td mat-cell *matCellDef="let row"> {{ row.cliente }} </td>
            </ng-container>

            <ng-container matColumnDef="contraente">
                <th mat-header-cell *matHeaderCellDef> Contraente </th>
                <td mat-cell *matCellDef="let row"> {{ row.contraente }} </td>
            </ng-container>
            
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono Contraente </th>
                <td mat-cell *matCellDef="let row"> {{ row.telefono }} </td>
            </ng-container>

            <ng-container matColumnDef="pivacf">
                <th mat-header-cell *matHeaderCellDef> Codice fiscale/P.iva </th>
                <td mat-cell *matCellDef="let row"> {{ row.pivacf }} </td>
            </ng-container>

            <ng-container matColumnDef="datains">
                <th mat-header-cell *matHeaderCellDef> Data inserimento </th>
                <td mat-cell *matCellDef="let row"> {{ row.datains }} </td>
            </ng-container>

            <ng-container matColumnDef="datastipula">
                <th mat-header-cell *matHeaderCellDef> Data Stipula </th>
                <td mat-cell *matCellDef="let row"> {{ row.datastipula }} </td>
            </ng-container>

            <ng-container matColumnDef="prodotto">
                <th mat-header-cell *matHeaderCellDef> Prodotto </th>
                <td mat-cell *matCellDef="let row"> {{ row.prodotto }} </td>
            </ng-container>

            <ng-container matColumnDef="seu">
                <th mat-header-cell *matHeaderCellDef> SEU </th>
                <td mat-cell *matCellDef="let row"> {{ row.seu }} </td>
            </ng-container>

            <ng-container matColumnDef="macroprodotto">
                <th mat-header-cell *matHeaderCellDef> Macroprodotto </th>
                <td mat-cell *matCellDef="let row"> {{ row.macroprodotto }} </td>
            </ng-container>

            <ng-container matColumnDef="macrostato">
                <th mat-header-cell *matHeaderCellDef> Macrostato </th>
                <td mat-cell *matCellDef="let row"> {{ row.macrostato }} </td>
            </ng-container>

            <ng-container matColumnDef="stato">
                <th mat-header-cell *matHeaderCellDef> Stato </th>
                <td mat-cell *matCellDef="let row"> {{ row.stato }} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="visualizzaDettagli(row,'ricercaContratti')"></tr>
        </table>
    </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->