.card-user{
    .image{
        height: 250px !important; 
        width: 100%;
        overflow: hidden;
        background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);

      img {
        border-radius: 12px;
        width: 100%;
        height: 108%;
        transform: scale(1.8) translateY(5px);
        object-fit: contain;
        object-position: center center;
      }
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -77px;

        a +  p.description{
            margin-top: -7px;
        }
    }

    .avatar{
        width: 124px;
        height: 124px;
        border: 1px solid $white-color;
        position: relative;
        object-fit: cover;
    }

    .card-body{
        min-height: 240px;
    }

    hr{
        //margin: 5px 15px 15px;
        opacity: 0.15;
    }

    .card-body + .card-footer {
      padding-top: 0;
    }

    .card-footer {
      h5 {
        font-size: 1.25em;
        margin-bottom: 0;
      }
    }

    .button-container{
        margin-bottom: 6px;
        text-align: center;
    }
}

@media (max-width: 515px) {
    .card-user{
        .image{
            height: 150px !important; 
        
        img {
          border-radius: 12px;
          width: 100%;
          height: 108%;
          transform: scale(1.4) translateY(5px);
          object-fit: contain;
          object-position: center center;
        }
      }
    }
}
