<div class="card card-user">
    <div class="card-header text-center">
        <h2 class="card-title">Crea Nuovo Fornitore</h2>
    </div>
    <div class="card-body text-center">
        <form [formGroup]="supplierForm" (ngSubmit)="submitForm()">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-50">
                            <mat-label>Nome nuovo Fornitore</mat-label>
                            <input matInput formControlName="supplier" required>
                        </mat-form-field>
                    </div>
                    <div class="col-6 w-50">
                        
                        <p-dropdown
                            class="w-50"
                            [options]="categorysupplier" 
                            [(ngModel)]="categorysupplierSelected"
                            [checkmark]="true" 
                            optionLabel="nome_categoria" 
                            [showClear]="true"
                            formControlName="nomeCategoria"
                            placeholder="Seleziona Categoria" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center"> <button mat-raised-button color="primary"
                            type="submit">Crea Fornitore</button>
                    </div>
                </div>
               
                

            </div>
        </form>
    </div>
    
</div>